.chatContainer {
  width: 25%;
}
 
.chatContainer ul {
  padding: 0;
}

.chatContainer li {
  list-style-type: none;
}

.chatWrapper {
  padding: 0 10px 10px 10px;
}

.chatWrapper li:hover{
  background-color: rgba(225, 220, 220, 0.337);
}