.profile {
  width: 100%;
}

.profileWrapper {
  padding: 30px;
}

.userDetailsItem{
  margin-bottom: 10px;
}

.userDetailKey{
  font-weight: 500 ;
  color: grey;
}

.userDetailValue{
  font-weight: 300;
}

.profileUserInfo {
  display: grid;
  width: 50%;
  align-items: center;
}

.profileFriendsCounter {
  grid-column: 2;
  font-size: 14px;
  color: grey;
  margin: auto;
}
.profileTopUserInfo{
  display: flex;
  justify-content: space-between;
}

.profileTop {
  width: 70%;
  padding: 30px;
  margin: auto;
}

.profileUsername {
  grid-column: 2;
  grid-row: 1;
  font-size: 30px;
}

.profileTop img {
  grid-column: 1;
  grid-row: 1 / 3;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
}

.profileOptions {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.profileOption {
  padding: 0 20px 0 20px;
}

.profileOption span {
  padding: 10px;
}
.profileOption :hover {
  background-color: rgba(128, 128, 128, 0.361);
  border-radius: 10px;
  cursor: pointer;
}
