.commentForm {
  width: 100%;
  display: flex;
  align-items: center;
  
}

.formLeft {
  flex: 1;
}
.formCenter {
  flex: 9;
}
.formRight {
  flex: 1;
}

.commentInput {
  width: 90%;
  border: none;
  background-color: rgb(234, 238, 237);
  border-radius: 10px;
  outline: none;
  overflow: hidden;
  resize: both;
  padding: 10px 10px;
}

.profilePicture {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  object-fit: cover;
  margin: 0px 10px;
}

.submitCommentButton {
  border: none;
  background-color: white;
  cursor: pointer;
}

.submitCommentButton :hover {
  background-color: rgb(85, 195, 255);
  border-radius: 10px;
  padding: 3px;
}
