.friendsContainerWrapper {

  margin: auto;
  width: 70%;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 1px 13px 5px rgba(0, 0, 0, 0.16);
  -webkit-box-shadow: 0px 1px 13px 5px rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 0px 1px 13px 5px rgba(0, 0, 0, 0.16);
}

.friendsContainerWrapper ul {
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
}

.friendItem {
  width: 100px;
  display: flex;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
  margin: 20px;
  position: relative;
}

.friendItem img {
  width: 80px;
  height: 100px;
  border-radius: 5px;
  object-fit: cover;
}

.friendItem button{
  width: 20px;
  border: none;
  position: absolute;
  bottom: 37px;
  cursor: pointer;
  border-radius: 3px;
}


.addButton{
  left: 10px;
  background-color: green;
}

.removeButton{
  right: 10px;
  background-color: red;
}

